In [ ]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [1]:
# A database is a structured collection of data that is organized and managed to allow easy access, retrieval, and manipulation.

# SQL databases are based on a relational model and use structured query language (SQL) to manage data. 
# SQL databases store data in tables, with each table having a specific schema defining the fields and their types

# NoSQL databases are designed to be more flexible and scalable, allowing for the storage and retrieval of unstructured data
# NoSQL databases are designed for unstructured and semi-structured data

In [2]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [3]:
# DDL stands for Data Definition Language, which is a subset of SQL used to define the structure and schema of a database.

# CREATE: The CREATE command is used to create new database objects, such as tables, indexes, and views.

# CREATE TABLE customers (
#   customer_id INT PRIMARY KEY,
#   customer_name VARCHAR(50),
#   customer_email VARCHAR(100)
# );

# DROP: The DROP command is used to remove a database object, such as a table, index, or view, from the database.

# DROP TABLE customers;

# ALTER: The ALTER command is used to modify the structure of an existing database object, such as a table or a column.

# ALTER TABLE customers
# ADD COLUMN customer_phone VARCHAR(20);

# TRUNCATE: The TRUNCATE command is used to delete all data from a table without deleting the table structure.

# TRUNCATE TABLE customers;

In [4]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [5]:
# DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data in a database

# 1.  INSERT: The INSERT statement is used to add new records (rows) to a database table.

#     INSERT INTO table_name (column1, column2, column3, ...)
#     VALUES (value1, value2, value3, ...);

#     INSERT INTO students (id, name, age)
#     VALUES (100, 'John', 21);

# 2.  UPDATE: The UPDATE statement is used to modify existing records (rows) in a database table.

#     UPDATE table_name
#     SET column1 = value1, column2 = value2, ...
#     WHERE condition;

#     UPDATE students
#     SET age = 22
#     WHERE id = 100;

# 3.  DELETE: The DELETE statement is used to delete records (rows) from a database table.

#     DELETE FROM table_name
#     WHERE condition;

#     DELETE FROM students
#     WHERE id = 100

In [6]:
# Q4. What is DQL? Explain SELECT with an example.

In [7]:
# DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. 
# DQL statements are used to query data from one or more tables in a database.

# SELECT: The SELECT statement is used to retrieve data from one or more tables in a database.

# SELECT column1, column2, ...
# FROM table_name
# WHERE condition;

# SELECT name, salary
# FROM employees
# WHERE age > 30;

In [8]:
# Q5. Explain Primary Key and Foreign Key.

In [9]:
# Primary Key: A primary key is a unique identifier for a record in a database table. It is a column or set of columns that uniquely identifies each record in a table.

# Foreign Key: A foreign key is a field or set of fields in one table that refers to the primary key of another table. It is used to establish a link or relationship between two tables.

In [10]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [11]:
# import mysql.connector
# mydb=mysql.connector.connect(
#     host="localhost",
#     user="abc",
#     password="password"
# )
# mycursor=mydb.cursor()
# mycursor.execute("Enter here")

# The "cursor()" method creates a cursor object that is used to execute SQL queries and fetch the results. 
# It provides methods like execute(), fetchone(), and fetchall() to interact with the database.

# The "execute()" method is used to execute a SQL query on the database. It takes a string parameter that contains the SQL query.
# The method returns the number of rows affected by the query.

In [12]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# In an SQL query, the clauses are executed in the following order:

# FROM: The FROM clause specifies the table or tables from which to retrieve data.

# WHERE: The WHERE clause is used to filter the rows returned by the query. It specifies the conditions that must be met for a row to be included in the result set.

# GROUP BY: The GROUP BY clause is used to group the rows returned by the query based on one or more columns.

# HAVING: The HAVING clause is used to filter the groups created by the GROUP BY clause. It specifies the conditions that must be met for a group to be included in the result set.

# SELECT: The SELECT clause is used to specify the columns to be included in the result set.

# ORDER BY: The ORDER BY clause is used to sort the rows in the result set based on one or more columns.

# LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.